<% provide(:title, "Acerca de") %>
<div class="page-header">
    <h1>Acerca de</h1>
    <p>
    Este sitio es parte del proyecto #2 de la materia Desarrollo de
    Aplicaciones para Tenologías Móviles:
    </p>

    <blockquote>
        Desarrolle un Web Service con los servicios necesarios para manipular
        una base de datos (backend) y además una aplicación cliente para que
        los usuarios puedan acceder a las servicios (frontend).
    <blockquote>
</div>
