<% provide(:title, "Ayuda") %>
<div class="page-header">
    <h1>Ayuda</h1>
    <p>
    Esta sección esta para enseñarte como usar este sitio y resolver algunas
    dudas.
    </p>
</div>

<div> 
    <h3>¿Cómo empiezo a entrenar?</h3>
    <p>
        Es muy sencillo, registrate y posteriormente te diriges a la sección de
        problemas, lee el problema que más te agrade y cuando creas que ya lo
        tienes utiliza el botón de "Enviar", este botón te conducirá a un
        editor de código donde podrás introducir tu solución. Envías tu
        solución y a continuación recibirás los resultados.
    </p>

    <h3>¿Qué lenguajes de programación puedo utilizar?</h3>
    <p>
        Actualmente soportamos 3 lenguajes, C, C++ y Python. Podrás elegir el
        que más te agrade en el editor de código.
    </p>
</div>
