<% provide(:title, "Iniciar sesión") %>
<div class="page-header"><h2>Iniciar sesión</div>

<%= form_for(:session, url: sessions_path,
             html: { class: "form-horizontal"}) do |f| %>

    <div class="control-group">
        <%= f.label :name, "Usuario:", class: "control-label" %>
        <div class="controls"> <%= f.text_field :name %> </div>
    </div>

    <div class="control-group">
        <%= f.label :password , "Contraseña:", class: "control-label" %>
        <div class="controls"><%= f.password_field :password %></div>
    </div>

    <div class="form-actions">
        <%= f.submit "Iniciar sesión", class: "btn btn-large btn-primary" %>
    </div>
<% end %>

<div><p>¿Nuevo usuario? <%= link_to "Registrarse", signup_path %></div>
