<% provide(:title, "Crear problema") %>
<div class="page-header">
    <h1>Crear un problema <small>Contribuye al sitio</small></h1>
</div>

<%= form_for(@problem, html: { class: "form-horizontal" }) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="control-group">
        <%= f.label :title, "Título", class: "control-label"  %>
        <div class="controls">
            <%= f.text_field :title %>
        </div>
    </div>

    <div class="controls">
        <p>
            Notación
            <a href="http://daringfireball.net/projects/markdown/"
                target="_blank">Markdown</a> habilitada.
        </p>
    </div>

    <div class="control-group">
        <%= f.label :description, "Descripción", class: "control-label" %>
        <div class="controls">
            <%= f.text_area :description, rows: "10" %>
        </div>
    </div>


    <%= f.hidden_field :author, value: current_user.id %>

    <div class="control-group"><h2>Casos de prueba</h2></div>

    <% 1.upto(TEST_CASES_PER_PROBLEM) do |test| %>
        <% to = "test_" + test.to_s %>
        <% label_to_in = "Entrada #{test}:" %>
        <% label_to_out = "Salida #{test}:" %>
        <% to_in = "in_#{test}" %>
        <% to_out = "out_#{test}" %>
        <div style="margin-bottom: 40px;">
        <div class="control-group">
            <%= label_tag "", label_to_in, class: "control-label" %>
            <div class="controls">
                <%= text_area_tag  to_in, "", id: "test-case-text-field" %>
            </div>
        </div>

        <div class="control-group">
            <%= label_tag "", label_to_out, class: "control-label" %>
            <div class="controls" >
                <%= text_area_tag  to_out, "", id: "test-case-text-field" %>
            </div>

        </div>
        </div>
    <% end %>

    
    <div class="control-group">
        <div class="form-actions">
            <%= f.submit "Crear", class: "btn btn-primary" %>
        </div>
    </div>

<% end %>

