<div class="alert alert-success">
    ¡Éxito! El problema se registro satisfactoriamente con id
    <%= @problem_saved_id %>.
</div>


<div class="problem">
    <div class="problem-title">
        <h2> <%= @problem_title %> </h2>
    </div>

    <div class="problem_statement">
        <% markdown = BlueCloth.new(@problem_statement).to_html %>
        <%= raw(markdown) %>
    </div>
</div>

<h3>Casos de prueba para este problema</h3>
<% n = 1 %>
<% @test_cases.each do |tc| %>
    <div class="test-case">
        Caso #<%= n %>:
        <pre><%= tc["in"] %></pre>
        <pre><%= tc["out"] %></pre>
        <% n = n + 1 %>
    </div>
<% end %>


