
<div class="problem">
    <div class="problem-title">
        <h2><%= @problem[:id] %> : <%= @problem[:title] %></h2>
    </div>
    <div class="problem-statement">
        <% markdown = BlueCloth.new(@problem[:description]).to_html %>
        <%= raw(markdown) %>
    </div>

    <div>
        <% if signed_in? %>
            <div class="problem-submit-bar">
                <%= form_tag("/solutions/new",
                             method: "get", 
                             style: "float: right") do %>

                     <%= hidden_field_tag(:id_problem, @problem[:id]) %>
                     <%= hidden_field_tag(:id_user, '1') %>
                     <%= hidden_field_tag(:problem_title, @problem[:title])%>
                     <%= submit_tag("Enviar", class: "btn btn-primary") %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

