<div class="page-header"><h2>Lista de usuarios</h2></div>

<div>
<% if not @user_list.nil? %>
    <% users = [] %>
    <% if @user_list.kind_of?(Array) %>
        <% @user_list.each do |item| %>
            <% users << item %>
        <% end %>
    <% else %>
        <% users << @user_list %>
    <% end %>

    <% users.each do |user| %>
        <div class="user-item">
            <h2><%= link_to user[:id] + ":"  +  user[:name], 
                users_path + "/" + user[:id] %>
            </h2>
        </div>

    <% end %>
<% end %>
</div>

