<% provide(:title, "Nuevo usuario") %>
<div class="page-header"><center><h2>Nuevo usuario</h2></center></div>

<%= form_for(@user, html: { class: "form-horizontal" }) do |f| %>

    <%= render 'shared/error_messages' %>

    <% if @pass_mismatch %>
        <div class="alert alert-error">
            Las contraseñas no coinciden.
        </div>
    <% end %>

    <div class="control-group">
        <%= f.label :name, "Nombre", class: "control-label" %>
        <div class="controls">
            <%= f.text_field :name %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :password, "Contraseña:", class: "control-label" %>
        <div class="controls">
            <%= f.password_field :password %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :password_confirmation, "Confirmación:", class: "control-label" %>
        <div class="controls">
            <%= f.password_field :password_confirmation %>
        </div>
    </div>

    <div class="control-group">
        <div class="form-actions">
            <%= f.submit "Crear mi cuenta", class: "btn btn-large btn-primary" %>
        </div>
    </div>
<% end %>
