<% if not @user.nil? and @user.errors.any? %>
    <div class="alert alert-error">
        Hay problemas con tus datos. Favor de verificar.
    </div>

    <div id="error_explanation">
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li>* <%= msg %> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<% if not @problem.nil? and @problem.errors.any? %>
    <div class="alert alert-error">
        El problema no se pudo guardar, quizás un problema los datos o
        problemas de conexión. Favor de verificar e intentar nuevamente.
    </div>

    <div id="error_explanation">
        <ul>
            <% @problem.errors.full_messages.each do |msg| %>
                <li>* <%= msg %> </li>
            <% end %>
        </ul>
    </div>
<% end %>
