@import "bootstrap";

/* universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
    border:1px solid #999999;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 15px;
    /*text-align: center;*/
}

h2 {
    font-size: 1.5em;
    /*letter-spacing: -1px;*/
    margin-bottom: 10px;
    font-weight: bold;
}


h3 {
    font-size: 1em;
    /*letter-spacing: -1px;*/
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    font-size: 1em;
    line-height: 1.2em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
}


/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}


/* forms */
input {
    width: 50%;
}

textarea {
    width: 100%;
}

.form-actions {
    /*float: right;*/

}

#error_explanation {
    color: #f00;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}


.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.user-item {
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 15px;
}

.problem {
    border-bottom: solid 2px #eaeaea;
    min-height: 300px;
}

.problem-title {
    border-bottom: solid 1px #eaeaea;
    text-align: center;
}

.problem-statement {
    margin-top: 10px;
    min-height: 200px;
}

.problem-submit-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.solution-lang-control {
    display: inline;
    width: 100%;
    height: 100px;
}
.solution-lang-label {
    display: inline;
    height: 30px;
}

.solution-lang-select {
    margin-left: 5px;
    display: inline;
    height: 30px;
    width: 100px;
}

.test-case, .test-veredict {
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
}


#test-case-text-field {
    width: 400px;
}

blockquote {
    font-style: italic; 
}

.ace_editor {
    height: 300px;
}


.editor-option {
    display: inline;
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
}

#error_explanation {
    color: #f00;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors input {
    border: solid 1px red;
}

.field_with_errors textarea {
    border: solid 1px red;
}
