<% provide(:title, "Crear problema") %>
<div class="page-header" style="text-align: center">
    <h1>Nuevo envío</h1>
    <h2><%= @problem_title %></h2>
    <small>(ID: <%= @id_problem %>)</small>
</div>

<%= form_for(@solution, html: { onSubmit: "codeToTextarea()" }) do |f| %>
    <%= hidden_field_tag(:id_problem, @id_problem ) %>
    <%= hidden_field_tag(:id_user, @id_user ) %>
    <div class="solution-lang-control">

        <div class="editor-option">
            <%= f.label :languaje, "Lenguaje:", class: "solution-lang-label" %>
            <% languages = [['C', 1], ['C++', 2], ['Python', 3]] %>
            <% sls = "solution-lang-select" %>
            <%= select_tag(:language, options_for_select(languages), class: sls,
                           onChange: "changeEditorLanguage(this)") %>
        </div>


        <div class="editor-option">
            <%= f.label "Tema:", class: "solution-lang-label" %>
            <% themes = [['Texmate', 1], ['Monokai', 2]] %>
            <% sls = "solution-lang-select" %>
            <%= select_tag("Tema", options_for_select(themes), class: sls,
                           onChange: "changeEditorTheme(this)") %>
        </div>


        <div class="editor-option">
            <%= f.label "Modo:", class: "solution-lang-label" %>
            <% keybindings = [['Emacs', 1], ['Vim', 2]] %>
            <% sls = "solution-lang-select" %>
            <%= select_tag("Modo", options_for_select(keybindings), class: sls,
                           onChange: "changeEditorKeybinding(this)") %>
        </div>
    </div>

    <% code = "#include &ltstdio.h&gt\n\n"              %>
    <% code += "int main(int argc, char **argv)\n"  %>
    <% code += "{\n\tprintf(\"Hola mundo!\\n\");\n" %> 
    <% code += "\treturn 0;\n}\n"                   %>

    <%= ace_editor :mode => :c_cpp,  :content => code %>


    <%= hidden_field_tag(:source_code) %>


    <div class="control-group">
        <div class="form-actions", style="float: right">
            <%= f.submit "Enviar", class: "btn btn-primary" %>
        </div>
    </div>

<% end %>


