<div class="page-header">
    <h2>Resultados de la solución</h2>
</div>

<% id = @submission_answer[:id].to_i %>
<% error = @submission_answer[:error].to_i %>
<% if id != 0 %>
    <% if error == 0 %>
        <div class="alert alert-success">
            El problema se envío satisfactoriamente con ID
            <%= id %>.
        </div>

        <%
            veredicts = []
            if @test_results.kind_of?(Array) 
                veredicts = @test_results
            else
                veredicts << @test_results
            end
        %>

        <% veredicts.each do |veredict|
            ans = ""
            tc = veredict[:id]
            code = veredict[:error].to_i
            if code == AC
                ans = "PASSO"
            %>
                <div class="alert alert-success">
                    Caso # <%= tc %>: <%= ans %>
                </div>
            <%
            else 
                if code == TLE
                    ans = "TIEMPO DE EJECUCIÓN EXCEDIDO"
                else
                    ans = "FALLO"
                end
            %>
                <div class="alert alert-error">
                    Caso # <%= tc %>: <%= ans %>
                </div>
            <%
            end
        end
        %>
    
    <% else %>
        <div class="alert alert-error">
            El problema se envío pero tiene errores:
            <% key = "error_" + error.to_s %>
            <%= ERROR_MESSAGES[key]%>
        </div>

        <pre><%= raw(@error_message) %></pre>
    <% end %>
<% else %>
    <div class="alert alert-error">
        Ocurrio un problema al intentar enviar la solución. Intente nuevamente.
    </div>

<% end %>
