<!-- Footer -->
<div class="row-fluid">
    <footer class="footer">
    <small>
        <a href="http://rendon.x10.mx/">Inforscience</a>
        (C) Rafael Rendón Pablo
    </small>
    <nav>
    <ul>
        <li><%= link_to "Acerca de",   about_path %></li>
    </ul>
    </nav>
    </footer>
</div>

