<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
    <div class="container">
        <%= link_to "Micro OJ", root_path, class: "brand" %>
        <nav>
        <ul class="nav pull-left">
            <li><%= link_to "Inicio",    root_path %></li>
            <li><%= link_to "Ayuda",     help_path %></li>
            <li><%= link_to "Acerca de", about_path%></li>
        </ul>

        <ul class="nav pull-right">
            <% if signed_in? %>
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Mi cuenta
                    </a>

                    <ul class="dropdown-menu">
                        <li><%= link_to "Perfil",
                            users_path + "/" + current_user.id.to_s %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Salir", signout_path, method:"delete"%>
                    </ul>
                </li>
            <% else %>
                <li><%= link_to "Registrarse", signup_path %></li>
                <li><%= link_to "Iniciar sesión", signin_path %></li>
            <% end %>
        </ul>

        </nav>
    </div>
</div>
</header>

