<!-- Side bar -->
<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <% if signed_in? and current_user.name == ADMIN_USER %>
                <li>
                <%= link_to "Crear problemas", new_problem_path %>
                </li>
            <% end %>
            <li> <%= link_to "Problemas", problems_path %></li>
            <li> <%= link_to "Usuarios", users_path %></li>
        </ul>
    </div>
</div>

