<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Header -->
    <%= render 'layouts/header' %>

    <!-- Main layout -->
    <div class="container">
        <div class="container-fluid">
            <div class="row-fluid">

                <!-- Side bar -->
                <%= render 'layouts/sidebar' %>

                <!-- Main content -->
                <div class="span8">
                    <% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>"><%= value %></div>
                    <% end %>

                    <%= yield %>
                </div>
            </div>

            <!-- Footer -->
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
        </div>
    </div>
</body>
</html>
